.DS_Store
/.build/
/build-*/
/dist/
/usr/
/libsearpc/
/breakpad*/
/qt-msbuild*/
/apple/.build/
/apple/build/
/apple/SeafileNext.xcodeproj/
*.xcuserstate
xcuserdata/
__pycache__/
*.pyc
*.p8
*.p12
*.mobileprovision
*.provisionprofile


apple/Engine/seaf-daemon
apple/Engine/lib/
libsearpc/

debian/
